.main-content .trip-container{
    padding: 50px 30px;
}
.main-content .trip-container .history-box{
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
    min-width: 300px;
    background-color: #EDEDED;
}

@media only screen and (max-width: 942px) {}

@media only screen and (max-width: 660px) {
    .main-content .trip-container{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .main-content .trip-container .history-box{
        position: absolute;
        width: 550px;
        height: 700px;
        top: 60px;
    }
}

@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 475px) {}

@media only screen and (max-width: 375px) {}